.jumbotron-home
{
    background-image:    url("/assets/img/landing.jpg");
    background-repeat:   no-repeat;
    background-size:     cover;
    background-position: center;
    box-shadow:          inset 0 0 0 9999px rgba(0, 0, 0, 0.6);
}